In [2]:
import numpy as np
 

data_file = 'ToothGrowth.csv'

data = np.genfromtxt(data_file, names=True, delimiter=",", dtype=None)

In [3]:
summary_stats = []
for supp_lvl in np.unique(data['supp']):
    
    for dose_lvl in np.unique(data['dose']):
    
        # Subsetting
        data_to_sum = data[(data['supp'] == supp_lvl) & (data['dose'] == dose_lvl)]
        # Calculating the descriptives
        mean = data_to_sum['len'].mean()
        sd = data_to_sum['len'].std()
        max_supp = data_to_sum['len'].max()
        min_supp =  data_to_sum['len'].min()
        ps = np.percentile(data_to_sum['len'], [25, 75] )
        summary_stats.append((mean, sd, max_supp, min_supp, ps[0], ps[1], supp_lvl, dose_lvl))

In [4]:
import numpy as np

from pandas import DataFrame as df

from scipy.stats import trim_mean, kurtosis

from scipy.stats.mstats import mode, gmean, hmean

In [5]:
N = 20
P = ["noise","quiet"]
Q = [1,2,3]

values = [[998,511], [1119,620], [1300,790]]

mus = np.concatenate([np.repeat(value, N) for value in values])

data = df(data = {'id': [subid for subid in range(N)]*(len(P)*len(Q))
    ,'iv1': np.concatenate([np.array([p]*N) for p in P]*len(Q))
    ,'iv2': np.concatenate([np.array([q]*(N*len(P))) for q in Q])
    ,'rt': np.random.normal(mus, scale=112.0, size=N*len(P)*len(Q))})

In [6]:
values

[[998, 511], [1119, 620], [1300, 790]]

In [8]:
data.describe()

               id        iv2           rt
count  120.000000  120.00000   120.000000
mean     9.500000    2.00000   879.208402
std      5.790459    0.81992   294.231406
min      0.000000    1.00000   328.023422
25%      4.750000    1.00000   652.485410
50%      9.500000    2.00000   849.636218
75%     14.250000    3.00000  1108.547763
max     19.000000    3.00000  1514.573717

In [9]:

grouped_data = data.groupby(['iv1', 'iv2'])

grouped_data['rt'].describe().unstack()

      count                    mean                                   std  \
iv2       1     2     3           1            2            3           1
iv1
noise  20.0  20.0  20.0  981.545480  1101.350824  1297.128321  112.340440
quiet  20.0  20.0  20.0  525.586372   643.204126   726.435287  105.501473

                                      min  ...          25%         50%  \
iv2             2           3           1  ...            3           1
iv1                                        ...
noise  108.229968  142.696675  759.016061  ...  1206.491679  989.721670
quiet  124.223268   96.492377  328.023422  ...   678.142055  522.320834

                                         75%                            \
iv2              2            3            1            2            3
iv1
noise  1113.444683  1333.642293  1056.452981  1198.451538  1377.553570
quiet   662.018664   736.629134   612.508449   722.463689   782.987721

               max
iv2              1            2            3
iv1
noise  1187.773703  1252.168442  1514.573717
quiet   703.333336   855.493483   922.590910

[2 rows x 24 columns]

In [ ]:
# https://blog.faradars.org/%D8%A2%D9%85%D8%A7%D8%B1-%D8%AA%D9%88%D8%B5%DB%8C%D9%81%DB%8C-%D8%AF%D8%B1-%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86/